<section class="sec-footer">
<div class="div-footer">
<img src="./assets/wha.png" class="wha" alt="" width="20px" height="20px">
<h5 class="num">6263-0914</h5>
<img src="./assets/gmail.png" class="gmail" alt="" width="20px" height="20px">
<h5 class="correo">mendozajose2400&#64;gmail.com</h5>

<a href="https://www.linkedin.com/in/jose-miguel-mendoza-12b56a28b/">
<img src="./assets/ln.png" class="LinkedIn" alt="" width="30px" height="20px">
</a>
<h5 class="lkn">Jose Miguel Mendoza</h5>
</div>
</section>
