<hr>
<div class="tit">
    <h1>Proyectos:</h1>
</div>
<section class="section-3">
    <div class="div-card3">
        <div class="card3">
            <a href="https://github.com/Synicpty/Proyecto-Nutri-IA-DS9">
            <h2 class="card-title">Nutri- IA</h2>
            </a>
            <img class="card-image" src="./assets/nutri.png" alt="Descripción de la imagen">
            <hr>
            <p class="card-text">
                Este proyecto fue realizado como semestral para la materia de desarrollo #9. Consistía en una pagina
                donde podias hacer creación y logueo de usuarios, una vez ingresado podias solicitar recomendaciones de
                comidas saludables con ingredientes que tuvieras a tu disposición y esta te devolvia una respuesta
                utilizando la API de chatgpt.
            </p>
            <h5>Herramientas utilizadas:</h5>
            <h5>Js+Express, React y Atlas MongoDB</h5>
        </div>
    </div>
    <div class="div-card3">
        <div class="card3">
            <a href="https://github.com/Synicpty/Proyecto-Android-Studio-Chatgpt">
            <h2 class="card-title">Calculadora Edad</h2>
        </a>
            <img class="card-image" src="./assets/caledad.jpg" alt="Descripción de la imagen">
            <img class="card-image" src="./assets/caledad2.jpg" alt="Descripción de la imagen">
            
            <hr>
            <p class="card-text">
                Esta aplicacion fue realizada como proyecto semestral de desarrollo #6. Esta consistia en una serie de preguntas que se le realizaban al usuario y dependiendo de las respuestas y segun su edad te daba la edad aparentada si esta era menor a la actual te daba consejos para mantener el estilo de vida y si era mayor te daba consejos para mejorar. Tambien se utilizo la API de chatgpt para las respuestas al usuario.
            </p>
            <h5>Herramientas utilizadas:</h5>
            <h5>Java en android</h5>
        </div>
    </div>
</section>