<nav class="navbar navbar-expand-sm">
    <DIV class="container1"> 
    </DIV>
    <div class="nav">
        <img src="./assets/sft.png" class="js-logo" alt="xd">
        <h1><span>José</span> Mendoza</h1>
    </div>
    <div class="nav-2">
        <a href="" class="cnt">Contacto</a>
        <a href="" class="sbr">Sobre Mi</a>
        <a href="" class="hab">Habilidades</a>
        <a routerLink="/assets/cvJM2023.pdf" target="_blank">
            <button class="btn-pdf">CV en PDF</button>
        </a>
    </div>
</nav>
