<section class="navbar">
    <nav class="navbar1">
        <div class="navbarizq">
            <img src="./assets/sft.png" class="navbar1-img" alt="xd">
            <h1><span>José</span> Mendoza</h1>

        </div>
        <div class="navbarder">
            <a href="" class="cnt">Contacto</a>
            <a href="" class="sbr">Sobre Mi</a>
            <a href="" class="hab">Habilidades</a>
            <a routerLink="/assets/cvJM2023.pdf" target="_blank">
                <button class="btn-pdf">CV en PDF</button>
            </a>
        </div>
    </nav>
</section>