<section class="section-principal">
    <div class="div-sobre">

        <p>"<span>Mi nombre es José </span><br>
            tengo 23 años apasionado por el coding <br> y siempre dispuesto a aprender mas!"</p>
        <h2>Herramientas/Lenguajes preferidos:</h2>
        <div class="hero-logos">
            <img src="./assets/js.png" class="js-logo" alt="xd">
            <img src="./assets/react2.png" class="react-logo" alt="xd">
            <img src="./assets/tailwind.png" class="tailwind-logo" alt="xd">
            <img src="./assets/git.png" class="git-logo" alt="xd">
            <img src="./assets/css.png" class="css-logo" alt="xd">
            <img src="./assets/sql.jpg" class="sql-logo" alt="xd">
            <img src="./assets/R.png" class="php-logo" alt="xd">
            <img src="./assets/zendesk.png" class="zendesk-logo" alt="xd">
            <img src="./assets/html.png" class="html-logo" alt="xd">
        </div>
        <h1>Habilidades:</h1>
    </div>

    <div class="div-img">
        <img src="./assets/formalsinfondo.png" alt="xd">
    </div>
</section>
