<hr class="espacio">
<div class="tit2">
    <h1>Sobre Mi:</h1>
</div>
<section class="section-3">
    <div class="div-izq">
        <img src="./assets/yo.jpg" alt="yo">
    </div>
    <div class="div-der">
        <div class="der-abajo">
            <h1 class="exp">Experiencia</h1>
            <li class="exp-lug">Itteksis Solutions</li>
            <h3 class="der-abajo2-fecha">mar 2023-jun 2023</h3>
            <p>Agente encargado de soporte tecnico de la plataforma web y móvil, creación de tickets para solventar problematicas utilizando Zendesk y atención a clientes y apoyo a departamento de programacion aportando con mis conocimientos. </p>
        </div>
        <div class="der-abajo2">
            <h1 class="edu">Educación</h1>
            <li class="edu-lug">Centro Bilingue Vista Alegre</li>
            <h3 class="der-abajo2-fecha">2012-2015</h3>
            <p>Titulo de Educación Pre-media.</p>
            <li class="edu-lug">Centro Bilingue Vista Alegre</li>
            <h3 class="der-abajo2-fecha">2015-2018</h3>
            <p>Bachiller en ciencias con enfasis en informatica y contabilidad.</p>
            <li class="edu-lug">Universidad tecnológica de Panamá</li>
            <h3 class="der-abajo2-fecha">2019- Actualmente</h3>
            <p>Licenciatura en desarrollo de software.</p>
        </div>
    </div>
</section>