<section class="section-2">

    <div class="div-card1">
        <div class="card1">
            <h2 class="card1title">Trabajo en equipo</h2>
            <img class="card1image" src="./assets/tr3.png" alt="foto">
            <hr>
            <p class="card1text">
                Trabajar en equipo es fundamental para alcanzar el éxito en cualquier proyecto. La colaboración efectiva
                permite combinar diversas habilidades y perspectivas, generando soluciones más creativas y sólidas.
            </p>
        </div>
    </div>
    <div class="div-card2">
        
        <div class="card2">
            <h2 class="card-title">Rapido Aprendizaje</h2>
            <img class="card-image" src="./assets/rp2.png" alt="Descripción de la imagen">
            <hr>
            <p class="card-text">
                El aprendizaje rápido es esencial en un mundo dinámico y cambiante. Adaptarse a nuevas
                tecnologías y conceptos de manera eficiente no solo impulsa el crecimiento individual, sino que también
                contribuye al éxito del equipo.
            </p>
        </div>

    </div>
    <div class="div-card3">
        <div class="card3">
            <h2 class="card-title">Pensamiento Análitico</h2>
            <img class="card-image" src="./assets/pa1.png" alt="Descripción de la imagen">
            <hr>
            <p class="card-text">
                Capacidad para analizar situaciones, identificar problemas y proponer soluciones. Se trata de descomponer complejidades en partes manejables, identificar patrones y formular soluciones fundamentadas. 
            </p>
        </div>
    </div>
</section>